@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 992px){
  html{
    font-size: 100%;
  }
  .hide_on_med{
    display: block;
  }
  .hide_on_large{
    display: none;
  }
}
.font_small{
  font-size: 0.875rem;
}
.font_smaller{
  font-size: 0.75rem;
}

@media (max-width: 992px){
  .hide_on_med{
    display: none !important;
    padding: 0 !important;
  }
  .hide_on_large{
    display: block !important;
  }
}

@media (min-width: 1400px){
  html{
    font-size: 115%;
  }
  .container{
    max-width: 1700px;
    width: 80%;
  }
}


@media (min-width: 768px) and (max-width: 992px) {
  html{
    font-size: 90%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  html{
    font-size: 80%;
  }
}
@media (max-width: 576px){
  html{
    font-size: 70%;
  }
}


.font-weight-bolder {
  font-weight: 900 !important;
}

nav {
  z-index: 100;
}

#login-card {
  width: 400px;
  border-radius: 25px;
  margin: 150px auto;
}
#button {
  border-radius: 30px;
}

#btn {
  position: absolute;
  bottom: -35px;
  padding: 5px;
  margin: 0px 55px;
  align-items: center;
  border-radius: 5px;
}

.btn-category:first-child {
  margin-right: 0.5rem;
}
.btn-category {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.btn-category:last-child {
  margin-left: 0.5rem;
}

.icon {
  width: 6rem;
  height: 6rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  min-width: 6rem;
  transform: translateX(-3rem);
}

.span_tag {
  font-size: 0.75rem;
  background-color: #e0e0e0;
  border-radius: 0.6rem;
  padding: 5px 10px;
  text-transform: capitalize;
  display: inline-block;
  margin: 5px;
}

.voting_arrow {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 2rem;
  height: 2rem;
  background-color: #007bff;
  display: inline-block;
}

.btn-outline-primary:hover .voting_arrow,
.btn-primary .voting_arrow {
  background-color: #fff;
}

footer {
  padding-top: 5rem;
  clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0% 100%);
  padding-bottom: 3rem;
  position: relative;
  background-color: #1d2d35;
  color: #cccccc;
}

.footer_link{
  position: relative;
  font-size: 0.8rem;
}

.footer_link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  transition: all 0.3s;
  background-color: #fff;
}

.footer_link:hover::before{
  width: 100%;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic {
  margin-top: 30px;
}


.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 14px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}


.pointer{
  cursor: pointer;
}


.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms,all 0.3s;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) scale(0.75);
  background-color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 10rem;
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: var(--blue);
}

.submit {
  background-color: var(--blue);
  border-radius: 12px;
  border: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active,.submit:hover {
  background-color: var(--cyan);
}

.submit:disabled{
  background-color: #999;
}


.featured-free {
  padding: 25px;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 12px;
}

.meta {
  display: table;
}

.slide-text {
  margin-top: 30px;
}
.tags-list {
  margin-top: 20px;
}

.tool-img.v-yes {
  border: 2px solid #33ca7f;
}
.tool-img {
  border: 2px solid transparent;
}
.tool-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.trello-box .tool-img.v-yes img {
  border-radius: 50%;
  width: 100%;
}
.tool-meta {
  margin-left: 15px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}

.cate{
  color: #000;
  margin-bottom: 5px;
}

.indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}
.indicator svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.indicator svg polyline#back {
  stroke: rgba(59,211,171,0.3);
}
.indicator svg polyline#front {
  stroke: #3bd3ab;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  animation: dash 1s linear infinite;
}
@-moz-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
