@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: royalblue;
}

@media (min-width: 992px) {
  html {
    font-size: 100%;
  }
  .hide_on_med {
    display: block;
  }
  .hide_on_large {
    display: none;
  }
}
.font_small {
  font-size: 0.875rem;
}
.font_smaller {
  font-size: 0.75rem;
}

@media (max-width: 992px) {
  .hide_on_med {
    display: none !important;
    padding: 0 !important;
  }
  .hide_on_large {
    display: block !important;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 115%;
  }
  .container {
    max-width: 1700px;
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 70%;
  }
}

.font-weight-bolder {
  font-weight: 900 !important;
}

nav {
  z-index: 100;
}

#login-card {
  width: 400px;
  border-radius: 25px;
  margin: 150px auto;
}
#button {
  border-radius: 30px;
}

#btn {
  position: absolute;
  bottom: -35px;
  padding: 5px;
  margin: 0px 55px;
  align-items: center;
  border-radius: 5px;
}

.btn-category:first-child {
  margin-right: 0.5rem;
}
.btn-category {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.btn-category:last-child {
  margin-left: 0.5rem;
}

.icon {
  width: 6rem;
  height: 6rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  min-width: 6rem;
  transform: translateX(-3.3rem);
}

th {
  font-weight: bold !important;
}

th,
td {
  font-family: "Montserrat", sans-serif !important;
}

.voting_arrow {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  display: inline-block;
}

.MuiButton-containedPrimary .voting_arrow {
  background-color: #fff;
}

footer {
  padding-top: 5rem;
  clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0% 100%);
  padding-bottom: 3rem;
  position: relative;
  background-color: #000;
  color: #cccccc;
}

.footer_link {
  position: relative;
  font-size: 0.9rem;
}

.footer_link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  transition: all 0.3s;
  background-color: #fff;
}

.footer_link:hover::before {
  width: 100%;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  min-width: 320px;
  width: 400px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 14px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms, all 0.3s;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) scale(0.75);
  background-color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 10rem;
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: var(--blue);
}

.submit {
  background-color: var(--blue);
  border-radius: 12px;
  border: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 15px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active,
.submit:hover {
  background-color: var(--primary);
}

.submit:disabled {
  background-color: #999;
}

.featured-free {
  padding: 25px;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 12px;
}

.meta {
  display: table;
}

.slide-text {
  margin-top: 30px;
}
.tags-list {
  margin-top: 20px;
}

.tool-img.v-yes {
  border: 2px solid #33ca7f;
}
.tool-img {
  border: 2px solid transparent;
}
.tool-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.trello-box .tool-img.v-yes img {
  border-radius: 50%;
  width: 100%;
}
.tool-meta {
  margin-left: 15px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}

.cate {
  color: #000;
  margin-bottom: 5px;
}

.indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}
.indicator svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.indicator svg polyline#back {
  stroke: rgba(59, 211, 171, 0.3);
}
.indicator svg polyline#front {
  stroke: #3bd3ab;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  animation: dash 1s linear infinite;
}
@-moz-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--primary);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.text-primary {
  color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-outline-primary {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-outline-primary:hover {
  border-color: var(--primary) !important;
  color: #fff !important;
  background-color: var(--primary) !important;
}
.bg-primary {
  background-color: var(--primary) !important;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  content: "";
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 29px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
  display: none;
}
.reply-list li:before {
  content: "";
  width: 3.75rem;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -3.4375rem;
}

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 5.5rem;
  clear: both;
  margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
  min-width: 65px;
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  border: 3px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  min-width: 50px !important;
  height: 50px;
  width: 50px;
}

.comment-main-level:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
  width: 100%;
  margin-left: 1rem;
  position: relative;
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #ddd;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px;
}

.comment-box .comment-head {
  background: #ddd;
  padding: 10px 12px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}


.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #fff;
  padding: 12px;
  font-size: 0.95rem;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
  color: #03658c;
}
.comment-box .comment-name.by-author:after {
  content: "autor";
  background: #03658c;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 768px) {
  .comments-container {
    width: 480px;
  }
  .comments-list:before{
    display: none;
  }
  .reply-list li:before{
    display: none;
  }
  .reply-list{
    padding-left: 3.5rem;
  }
  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}

.comment-main-level{
  display: flex;
}

.span_tag {
  background: #eee;
  border-radius: 5px 0 0 5px;
  color: #333;
  display: inline-block;
  height: 23px;
  line-height: 23px;
  padding: 0 15px 0 25px;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 0.7rem;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  backface-visibility: hidden;
}

.span_tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.3);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.mont{
  font-family: Montserrat !important;
}

.span_tag:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
}

.span_tag.featured {
  background-color: var(--primary);
  color: #fff;
}

a {
  color: var(--primary);
}
.section_product{
  min-height: 100vh;
  
}

.crumb{
  min-height: 65vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.767)),url(./resources/product.jpg);
  background-position: bottom;
  background-size: cover;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crumb *{
  color: #fff;
}